In [1]:
FILE_NAME = '/home/azureuser/Ambarish/NASA/NTRS80K.csv'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(FILE_NAME)

In [4]:
df.columns

Index(['Number', 'title', 'publisher', 'name', 'abstract', 'created'], dtype='object')

In [5]:
len(df)

50001

In [6]:
df.created.head()

0    2013-08-02T13:13:00.0000000+00:00
1    2013-08-02T13:13:00.0000000+00:00
2    2013-08-02T13:13:00.0000000+00:00
3    2013-08-02T13:13:00.0000000+00:00
4    2013-08-02T13:13:00.0000000+00:00
Name: created, dtype: object

In [7]:
df["year"]=df["created"].apply(lambda x: x.split("-")[0])

In [8]:
df.year.head()

0    2013
1    2013
2    2013
3    2013
4    2013
Name: year, dtype: object

In [9]:
df.columns

Index(['Number', 'title', 'publisher', 'name', 'abstract', 'created', 'year'], dtype='object')

In [10]:
df["year"]=df["year"].apply(lambda x: int(x))

In [11]:
df.year.head()

0    2013
1    2013
2    2013
3    2013
4    2013
Name: year, dtype: int64